
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Mukta&family=Sansita+Swashed:wght@300;400&display=swap');

/* sets default margin to 0 */
*{
    margin: 0;
}

/* sets default font properties */
html{
    font-size: 62.5%;   /*   1rem = 10px  */
    font-family: EB Garamond;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

/* navigation bar styling */
nav{
    display: flex;
    position: sticky;
    top: 0px;
    flex-flow: row wrap;
    align-items: center;
    /* padding: 4rem; */
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-content: space-between;
    background: white;
    z-index: 1;
    box-shadow: -11px -8px 14px;
}

/* sets styling for elements in nav bar */
nav li{
    font-family: 'Cormorant SC';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 58px;
list-style: none;
color: #41145F;
margin: 25px;
text-align: center;
}
/* sets display option to flex for unordered list*/
ul{
    display: flex;
}
/* sets style for hamburger menu that appears when in mobile view */
.hamburger{
    height: 50px;
    width: 50px;
    display: none;
}

/* sets size for main logo in nav bar */
.logo img{
    height: 9rem;
    
}

/* sets style for the hero-image section */
section{
    background-image: url(/images/pexels-kaique-rocha-109919\ 1.png);
    width: inherit;
    background-size: cover;
    height: 88vh;
    background-position: center;
}

/* sets style for sections where background is white */
.white{
    height: auto;
    width: inherit;
}

/* sets styling for p tags in sections where background is white */
.white p{
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 69px;
    color: rgb(65, 20, 95);
    width: 124rem;
    max-width: 46vw;
}

/* sets styling for section where background is beige */
.be{
    background-color: rgb(241, 236, 232);
    height: auto;
    width: inherit;
}

/* sets styling for section where background is purple  */
.purple{
    background-color: #41145F;
    height: 60vh;
    width: inherit;
}

/* sets style for find clinics button in nav bar */
.buttonClinics{
    color: white;
    padding: 10px;
    border-radius: 26px;
    margin: 15px;
    background-color: #9146FF;
    text-align: center;
}

/* sets styling for a div that has as property to display items in a vertical manner */
.vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 5rem;
    
}

/* sets styling for headings in a vertical div */
.vertical h1{
    font-family: 'Hammersmith One';
font-style: normal;
font-weight: 400;
font-size: 8em;
line-height: 114px;
margin: 2rem;
color: #41145F;
text-align: center;
}

/* sets styling for highlighted heading ("where") */
#light{
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 400;
    font-size: 8em;
    line-height: 109px;
    color: #9146FF;
    margin-bottom: 30px;
    margin-right: 20px;
}

/* sets styling for a div that has as property to display items in a horizontal manner */
.horizontal{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    /* margin: 30px; */
    flex-wrap: wrap;
    /* padding: 30px; */
    align-content: center;
    width: 100%;
    padding-top: 0px;
    justify-content: space-evenly;

    
}

/* sets styling for a div that has as property to display items in a horizontal centered manner */
.horizontal-centered{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    /* margin: 30px; */
    flex-wrap: wrap;
    /* padding: 30px; */
    align-content: center;
    width: 100%;
    padding-bottom: 0px;
    justify-content: center;
    
    
}

/* sets styling for images located within a horintontal div */
.horizontal img{
    width: 70rem;
    margin: 28px;
}

/* sets styling for icon buttons */
.horizontal-imgButton{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    /* margin: 30px; */
    flex-wrap: wrap;
    /* padding: 30px; */
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
}

/*  */
index{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}

/*  */
section h1{
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 234px;
    text-align: center;
    
    color: #FFFFFF;

}

section h2{
    background: #41145F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(5px);

border-radius: 39px;
}
.phoneHeading{
    display: none;
    background-color: #41145F;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.phoneHeading h1{
    font-family: Mukta;
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 9rem;
    text-align: center;
    margin: 30px;
    color: rgb(255, 255, 255);
}

.phoneHeading p{
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    width: 50vw;
    color: rgb(255, 255, 255);
}

section p{
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    width: 50vw;
    color: rgb(255, 255, 255);
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    height: auto;

}

#parf{
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 69px;
    color: rgb(65, 20, 95);
    width: 124rem;
    max-width: 46vw;
}

.purpleArt{
    background-image: url(/images/xx.png);
    /* height: 50vh; */
    height: auto;
    background-position: bottom;
    background-size: cover;
}

#whiteTitle{
    font-family: 'Hammersmith One';
font-style: normal;
font-weight: 400;
font-size: 8em;
line-height: 114px;

color: #FFFFFF;
}
.vertical ul{
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 69px;
    color: #FFFFFF;
}

.imgButton{
    width: 25rem;
    margin: 4rem;
}

@media screen and (max-width: 1200px) {
    .white p {
        width: 70vw;
        max-width: none;
    }

    nav{
        justify-content: center;
    }
    section h1{
        font-size: 10rem;
        line-height: 17rem;
    }
    #parf{
        width: 70vw;
        max-width: none;
    }
}

@media screen and (max-width: 720px) {
    .nav-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }

    .phoneHeading{
        display: flex;
    }
    section{
        height: 30rem;
    background-position: right;
    }
    section p{
        display: none;
    }
    section h1{
        display: none;
    }

    .horizontal img{
        width: 70vw;
    }
    .white p {
        width: 70vw;
        max-width: none;
    }
    nav{
        justify-content: space-between;
    }
    .phoneHeading p{
        width: 70vw;
        max-width: none;
    }

    .vertical h1{
        line-height: 8rem;
    }
    #parf{
        width: 70vw;
        max-width: none;
    }
  }