*,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;   /*   1rem = 10px  */
    background-color: #41145f;
}


nav{
    height:10vh;
 background-color: floralwhite;
}


.contact-body{
    background-image: linear-gradient(to right bottom,#0000004c,#00000059), url('Images/call.jpg');
    background-position:center;
    background-size: cover;
    height: 103vh;
    }
    
.contact-box.contact-width{
    width:55rem;
    height: 70rem;
    background-color: rgba(0, 0, 0, 0.647);
    box-shadow: 0 0 2rem 0 #292929;
    top:50%;
    left:50%;
    transform: translate(40%,-40%);
    position:absolute;
    color:#f0f0f0;
    text-align: center;
    }

.contact-box p:not(:last-child){
    text-align: start;
}
    
.h1-contact{
    font-size: 6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 5rem;
    }
    
.table{
    margin: 3rem;
    }
      
    
.table p{
    font-size: 2rem;
    font-weight: 300;
    padding: .5rem;
    }
    
.input-box.input-box-width{
    width:48rem;
    height:5rem;
    margin-top:.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: .1rem solid;
    border-radius: 1.4rem;
    position: relative;
    }

     
.input-box-width.textarea-box{
    height:9.5rem;
    padding: 1rem 0;
    }

.contact-btn:link,
.contact-btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 6.5rem;
    border-radius: 10rem;
    margin-top: 5.5rem;
    font-size: 1.5rem;
    transition: all .2s;
    position:relative;
}     
    
.contact-btn-purp{
    background-color:#9046ff;
    color:#f0f0f0
}

.contact-btn:hover{
  background:#9046ff
}


.contact-btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.contact-btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.contact-btn::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position:absolute;
    top:0;
    left:0;
    transition: all .4s;
}

.contact-btn-purp::after{
    background-color:#9046ff;
    z-index:-1;
}

.contact-btn:hover::after{
    transform: scaleX(1.3) scaleY(1.7);
    opacity: 0;
}












/* FOOTER  */

.top-footer{
    background-color: #41145f;
    height:20vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: space-around;
    justify-items: center;
    padding: 2rem 0;
    border-bottom: 0.5px solid #f1ece8;
    margin: 0 10rem;
}

.con-link,
.con-link:visited{
    color:white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 200;
    margin:1rem;
}

.con-link:hover{
    color: #fa4b82;
    transition: all 0.3s ease 0s;
}

.social-links{
    background-color: #41145f;
    height: 15vh;
    margin: 0 10rem;
}
.contact-logo{
    height:8rem;
}

.icons{
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;
  }

   
  .icons li{
    margin: 0 1rem;
  }
  
  .icons a{
    text-decoration: none;
    color:#fff;
  }
  .icons a i{
   font-size: 4.5rem;
  }

  .icon-f:hover{
    color: #4267B2;
  transition: all 0.3s ease 0s;
}


.icon-t:hover{
  color: #1DA1F2;
transition: all 0.3s ease 0s;
}

.icon-li:hover{
  color: #0072B1;
transition: all 0.3s ease 0s;
}

.icon-ins:hover{
  color: #ff00e1;
transition: all 0.3s ease 0s;
}

.bottom-footer{
    background-color: #230031;
    margin:0;
    height: 1.5vh;
}

.bottom-footer p{
    text-align: center;
    color: #ffffff;
    font-size:1.2rem;
    align-items: center;
}




/* MEDIA QUERIES  */



















@media all and (min-width: 1024px) and (max-width: 1300px)  {                                                    /*Small Desktop*/

     /* CONTACT  */

     html{
        font-size: 62.5%;
    }


    .contact-box.contact-width{
        transform: translate(40%,-40%);
        }
}
 










@media all and (min-width: 768px) and (max-width: 1255px) {                                                     /*Laptop*/

     /* CONTACT  */

     html{
        font-size: 45%;
    }

    .contact-body{
        height: 100vh;
    }


    .contact-box.contact-width{
        transform: translate(-50%,-38%);
        }
 }
 








@media all and (min-width: 480px) and (max-width: 768px) {                                                       /*Tablet*/

     /* CONTACT  */

     html{
        font-size: 40%;
    }

    .contact-body{
        height: 90vh;
    }

    .contact-box.contact-width{
        transform: translate(-50%,-50%);
        }
}
 









@media all and (max-width: 480px) {                                                                             /*Phone*/

    /* CONTACT  */

    html{
        font-size: 32%;
    }

    .contact-body{
        height: 80vh;
    }

    .contact-box.contact-width{
        transform: translate(-50%,-50%);
        }

}