* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
}

/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Sansita+Swashed:wght@300;400&display=swap");

body {
  background-color: #41145f;
}
/* Header for the Top of the page */
.resourcesTitle {
  color: #d9d9d9;
  text-align: center;
  font-size: 5rem;
  padding: 5rem 0;
  text-shadow: 3px 3px #161418;
}

/* Background of the page (hero image) */
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url("https://blogs.elca.org/faithlens/files/2022/05/iStock-1145766838.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

/* Holds the images, text, and sections */
.container {
  display: flex;
  justify-content: space-evenly;
}

.photo {
  height: 20rem;
  width: 35rem;
}

/* Shapes the boxes */
.first-section,
.second-section,
.third-section {
  box-sizing: border-box;
  margin: 4rem;
  width: 36rem;
  height: 45rem;
  text-align: center;
  font-size: 2rem;
  background-color: #e5e5e5;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-shadow: 0px 10px 10px #161418;
}

.sectionText {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  color: #41145f;
  text-align: center;
}

/* Styling for the ellipses at the bottom containing links */
.sites {
  text-align: center;
  position: relative;
  top: 4rem;
  text-decoration: none;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; 
color: hotpink; }


a:hover { text-decoration: none;
color: #41145f; }


a:active { text-decoration: none; }



.links {
  background-color: #d9d9d9;
  position: relative;
  width: 80rem;
  height: 30rem;
  left: 30rem;
  top: 8rem;
  border-radius: 50%;
  box-shadow: 0px 10px 10px 10px #161418;
  text-align: center;
  font-family: sanista swashed;
  font-size: 2rem;
  
}

/* Styling for text that is below ellipse */
.emergency {
  position: relative;
  top: 10rem;
  z-index: 4;
  color: #f1ece8;
  text-align: center;
  font-size: 2rem;
  font-family: sanista swashed;
  margin: 1rem;
  padding: 1rem;
}
/* Styling for the links text in the ellipse */
.helpfulLinks {
  color: #161418;
  text-align: center;
  position: relative;
  top: 3rem;
  text-decoration: underline dotted;
}

/* Media Queries Begin Here */

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    position: absolute;
    top: 175rem;
    left: 9rem;
    width: 40rem;
    height: 30rem;
    font-size: 2rem;
    border-radius: 0;
  }

  .first-section,
  .second-section,
  .third-section {
    width: 20rem;
    margin: 3rem;
  }
  .photo {
    width: 19rem;
    height: 13rem;
  }
  .emergency {
    top: 140rem;
  }
}
